* {
    font-family: 'Circular', sans-serif;
}

body {
    background-color: #ecf9ff;
    
}

.nav-bar {
    max-width: 1300px;
    width: auto;
    height: 90px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: #ffff;
    border: 0;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgcontainer {
    flex: 2; /* Ocupará 2/8 del ancho */
    display: flex;
    justify-content: flex-start;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

#nav-logo {
    height: 35px;
    width: auto;
    margin-left: 50px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 4; /* Ocupará 4/8 del ancho */
    justify-content: center; /* Centramos las `li` dentro del `ul` */
    align-items: center;
}

li {
    margin: 0 15px; /* Espaciado entre los elementos de lista */

}

.nav-buttons {
    flex: 2; /* Ocupará 2/8 del ancho */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#nav-links {
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
    color: #828297;
    cursor: pointer;
    transition: all 0.3s ease;
}

#nav-links:hover {
    color: #00E5CC;
}



#sigin-btn {
    font-weight: bold;
    font-size: 13px;
    border: 0;
    background-color: #ffff;
    margin-right: 15px;
    color: black;
    cursor: pointer;

}

#login-btn {
    font-size: 13px;
    border: 0;
    border-radius: 10px;
    width: 120px;
    height: 55px;
    background-color: #060640;
    margin-right: 20px;
    color: #ffff;
    cursor: pointer;
}


#main-image {

    border-radius: 15px;
    margin-left: 350px;
    margin-top: 80px;
    width: 400px;
    height: auto;
}

#main-arrow{
    position: absolute;
    margin-top: 20px;
    width: 150px;
    height: auto;
    
}

#map-home {
    margin-left: 250px;
    margin-bottom: 100px;
}

#container {
    display: flex;
    align-items: center;
}

h1 {
    color: #060640;
    font-size: 50px;
    font-weight: bold;
    margin-left: 135px;
    margin-top: 50px;
    width: 420px;
}